@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.flex-container {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
}

.flex-container h1 {
  margin: 0;
}

.flex-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafadc;
  border-radius: 10px;
  margin: .2em;
  padding: 2em;
  min-width: 600px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flex-container .card-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-container .card-info .rollover {
  font-size: 60px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5em;
}

.flex-container .card-info .cta {
  padding: 1em 2em;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #125012;
}

.flex-container .card-lista {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-container .card-lista .nuevo-elemento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.flex-container footer {
  position: absolute;
  bottom: 1em;
  color: white;
}

.flex-container footer a {
  color: white;
}

.flex-container .abby {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.flex-container .abby a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */