@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    
}
.flex-container {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/bg.jpg');
    background-size: cover;

    h1 {
        margin: 0;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fafafadc;
        border-radius: 10px;
        margin: .2em;
        padding: 2em;
        min-width: 600px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .card-info {
        flex-direction: column;
        .rollover {
            font-size: 60px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .5em;
        }
        .cta {
            padding: 1em 2em;
            border: none;
            text-transform: uppercase;
            color: white;
            font-weight: 600;
            letter-spacing: 2px;
            border-radius: 5px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            background-color: rgb(18, 80, 18);

        }
    }

    .card-lista {
        height: 400px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        .nuevo-elemento {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }

    footer {
        position: absolute;
        bottom: 1em;
        color: white;

        a {
            color: white;
        }
    }

    .abby {
        position: absolute;
        bottom: 10px;
        right: 10px;

        a {
            text-decoration: none;
        }
    }
}